{{ ansible_managed | comment }}
Name: faillock
Default: yes
Priority: 1024
Auth-Type: Primary
Auth:
        requisite                       pam_faillock.so preauth
Account-Type: Primary
Account:
        required                        pam_faillock.so
Password-Type: Primary
Password:
        requisite                       pam_faillock.so authfail
