{{ ansible_managed | comment }}
Name: pwhistory password history checking
Default: yes
Priority: 1024
Password-Type: Primary
Password:
        requisite                       pam_pwhistory.so remember={{ hardening_password_remember }} {% if hardening_password_enforce_root %}enforce_for_root {% endif %}use_authtok
